/*
.*
!/include/
!/src/
!/.clangd
!/.clang-format
!/.clang-tidy
!/.gitattributes
!/.gitignore
!/CMakeLists.txt
!/CMakePresets.json
!/conan.msvc
!/conan.llvm
!/conanfile.txt
!/license.txt
!/readme.md
!/test.cmd
!/test.sh
